body {
  margin: 0;
}

.header {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50px 100px;
}
.header .sosialmedia, .header .info {
  background: #2e1e13;
}
.header .sosialmedia div, .header .info div {
  text-align: center;
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 1px solid #39291f;
  color: #ababab;
}
.header .sosialmedia {
  padding: 5px;
  padding-left: 100px;
}
.header .sosialmedia div {
  display: inline-block;
  padding: 8px;
}
.header .sosialmedia div a {
  color: #ababab;
}
.header .info {
  text-align: center;
  padding: 10px;
}
.header .info span {
  color: #ababab;
}
.header .info div {
  padding: 8px;
}
.header .logo {
  text-align: center;
  padding-right: 150px;
}
.header .logo .corner {
  width: 80px;
  box-sizing: border-box;
  left: 440px;
  top: -94px;
  margin-top: -94px;
  margin-left: 513px;
  margin: 0px;
  position: relative;
  border-top: 50px solid #6aaf08;
  border-left: 50px solid transparent;
  border-right: 50px solid #6aaf08;
  border-bottom: 50px solid transparent;
}
.header .navbar {
  background: #6aaf08;
  text-align: center;
  padding: 20px;
}
.header .navbar ul li {
  height: 65px;
  display: inline-block;
  margin: 0px 10px;
  position: relative;
}
.header .navbar ul li:hover .dropdown {
  display: block;
}
.header .navbar ul li .dropdownadd {
  left: 140px;
  top: 0;
}
.header .navbar ul li .dropdown, .header .navbar ul li .dropdownadd {
  min-width: 160px auto;
  margin-top: 29px;
  padding-left: 0px;
  list-style-type: none;
  list-style-position: inside;
  text-align: center;
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}
.header .navbar ul li .dropdown li, .header .navbar ul li .dropdownadd li {
  left: 0;
  border-bottom: 1px solid #ababab;
  margin: 0;
  padding: 10px;
  height: 30px;
  background: none;
  width: 120px;
  transition: display 2s;
  list-style-type: none;
}
.header .navbar ul li .dropdown li:hover, .header .navbar ul li .dropdownadd li:hover {
  background: #ebebeb;
}
.header .navbar ul li .dropdown li:hover .dropdownadd, .header .navbar ul li .dropdownadd li:hover .dropdownadd {
  display: block;
}
.header .navbar ul li .dropdown li:hover a, .header .navbar ul li .dropdownadd li:hover a {
  color: #6aaf08;
}
.header .navbar ul li .dropdown li a, .header .navbar ul li .dropdownadd li a {
  color: gray;
}
.header .navbar ul li:last-child {
  height: 30px;
  padding: 10px;
  background: white;
  transition: background 2s;
}
.header .navbar ul li:last-child a {
  color: #ababab;
}
.header .navbar ul li:last-child:hover {
  background: black;
}
.header .navbar ul li:last-child:hover a {
  color: white;
}
.header .navbar ul li a {
  text-decoration: none;
  color: #ffffe7;
  font-size: 20px;
  transition: color 1s;
}
.header .navbar ul li a:hover {
  color: #ffff81;
}

.slide .wrapperslide {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 800px auto;
  grid-gap: 10px;
}
.slide .wrapperslide .slider_inner {
  width: 100%;
  background: url(../images/slide3.jpg) no-repeat center center;
  background-size: cover;
}
.slide .wrapperslide .slider_inner .overlay {
  box-sizing: border-box;
  padding: 100px 50px;
  width: 100%;
  height: 100%;
  background: rgba(46, 30, 19, 0.5);
}
.slide .wrapperslide .slider_inner .overlay .read {
  height: 30px;
  width: 100px;
  margin-left: 160px;
  background: white;
  padding: 10px;
  text-align: center;
  line-height: 30px;
  transition: background 2s;
}
.slide .wrapperslide .slider_inner .overlay .read a {
  color: #ababab;
  text-decoration: none;
}
.slide .wrapperslide .slider_inner .overlay .read:hover {
  background: #6aaf08;
}
.slide .wrapperslide .slider_inner .overlay .read:hover a {
  color: white;
}
.slide .wrapperslide .slider_inner .overlay .paragraf {
  box-sizing: border-box;
  padding-left: 160px;
  padding-right: 450px;
  font-size: 25px;
}
.slide .wrapperslide .slider_inner .overlay .paragraf p {
  color: #ababab;
}
.slide .wrapperslide .slider_inner .overlay .paragraf .but1 {
  right: 0;
  transition: right 1s;
}
.slide .wrapperslide .slider_inner .overlay .paragraf .but1 img {
  position: relative;
  right: -30px;
  display: none;
  transition: display 2s;
  transition: right 2s;
}
.slide .wrapperslide .slider_inner .overlay .paragraf .but1:hover a {
  right: -30px;
}
.slide .wrapperslide .slider_inner .overlay .paragraf .but1:hover img {
  right: 201px;
  display: block;
}
.slide .wrapperslide .slider_inner .overlay .paragraf .but2 {
  left: 0;
  transition: left 1s;
}
.slide .wrapperslide .slider_inner .overlay .paragraf .but2 img {
  transition: left 1s;
  height: 160px;
  width: 200px;
  position: relative;
  left: -200px;
  object-fit: cover;
}
.slide .wrapperslide .slider_inner .overlay .paragraf .but2:hover a {
  left: -40px;
}
.slide .wrapperslide .slider_inner .overlay .paragraf .but2:hover img {
  left: 30px;
}
.slide .wrapperslide .slider_inner .overlay .paragraf div {
  position: absolute;
  width: 30px;
  height: 100px;
  margin: 0px;
  background: #2e1e13;
  text-align: center;
  line-height: 100px;
}
.slide .wrapperslide .slider_inner .overlay .paragraf div a {
  color: white;
  position: absolute;
  right: 8px;
}
.slide .wrapperslide .slider_inner .overlay h1 {
  font-size: 50px;
  margin: 0;
  margin-left: 150px;
  width: 475px;
  color: white;
}

#services {
  margin: 0px;
}
#services .wrapperservices {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px;
}
#services .wrapperservices .child:hover {
  border-color: #6aaf08;
}
#services .wrapperservices .child3 {
  background: url(../images/service-image.jpg) no-repeat center top;
}
#services .wrapperservices div {
  padding: 10px;
  position: relative;
  box-sizing: border-box;
}
#services .wrapperservices div h5 {
  color: #2e1e13;
  font-weight: bold;
  font-size: 16px;
}
#services .wrapperservices div p {
  color: #ababab;
  font-size: 14px;
}
#services .wrapperservices div .icon {
  line-height: 10px;
  background: #6aaf08;
  position: absolute;
  height: 80px;
  width: 80px;
  text-align: center;
  border-radius: 100%;
  z-index: 7;
}
#services .wrapperservices div:first-child {
  text-align: center;
  grid-column: 1/4;
  box-sizing: border-box;
}
#services .wrapperservices div:first-child .box {
  margin: 0px;
}
#services .wrapperservices div:first-child .box .o {
  color: #2e1e13;
}
#services .wrapperservices div:first-child .box .s {
  color: #6aaf08;
}
#services .wrapperservices div:first-child .box h1 {
  margin: 0px;
  display: inline-block;
  font-size: 45px;
}
#services .wrapperservices div:first-child .box p {
  margin: 0px;
  font-size: 20px;
  color: #ababab;
}
#services .wrapperservices div:nth-child(2) {
  text-align: right;
  left: 100px;
  z-index: 7;
  padding-right: 55px;
  border: 1px solid #d1d1d1;
}
#services .wrapperservices div:nth-child(2) .icon {
  top: 11px;
  left: 290px;
}
#services .wrapperservices div:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/5;
}
#services .wrapperservices div:nth-child(4) {
  right: 100px;
  z-index: 7;
  padding-left: 55px;
  border: 1px solid #d1d1d1;
}
#services .wrapperservices div:nth-child(4) .icon {
  top: 11px;
  right: 290px;
}
#services .wrapperservices div:nth-child(5) {
  left: 100px;
  z-index: 7;
  text-align: right;
  padding-right: 55px;
  border: 1px solid #d1d1d1;
}
#services .wrapperservices div:nth-child(5) .icon {
  top: 11px;
  left: 290px;
}
#services .wrapperservices div:nth-child(6) {
  right: 100px;
  z-index: 7;
  padding-left: 55px;
  border: 1px solid #d1d1d1;
}
#services .wrapperservices div:nth-child(6) .icon {
  top: 11px;
  right: 290px;
}
#services .wrapperservices div:nth-child(7) {
  left: 100px;
  padding-right: 55px;
  text-align: right;
  z-index: 7;
  border: 1px solid #d1d1d1;
}
#services .wrapperservices div:nth-child(7) .icon {
  top: 11px;
  left: 290px;
}
#services .wrapperservices div:nth-child(8) {
  right: 100px;
  z-index: 7;
  padding-left: 55px;
  border: 1px solid #d1d1d1;
}
#services .wrapperservices div:nth-child(8) .icon {
  top: 11px;
  right: 290px;
}

.why {
  background: url(../images/bg2.jpg) center center no-repeat fixed;
  background-size: cover;
  margin: 0;
}
.why .whydiv {
  margin: 0;
  text-align: center;
  background: rgba(46, 30, 19, 0.7);
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
}
.why .whydiv h1 {
  font-size: 40px;
  color: white;
}
.why .whydiv h1 span {
  color: #6aaf08;
}
.why .whydiv .whyicons {
  text-align: center;
  margin: 0px;
}
.why .whydiv .whyicons:first-child {
  grid-column: 1/7;
}
.why .whydiv .whyicons:first-child p {
  color: white;
}
.why .whydiv .whyicons:nth-child(n+2) {
  border: 1px solid white;
  margin: 0 10px;
}
.why .whydiv .whyicons:nth-child(n+2) img {
  margin-top: 20px;
}
.why .whydiv .whyicons:nth-child(n+2) p {
  color: white;
  font-size: 20px;
}

#expert {
  margin: 0px;
}
#expert .expertdiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 50px;
  margin: 0px 50px;
}
#expert .expertdiv .experthead {
  grid-column: 1/5;
  text-align: center;
}
#expert .expertdiv .experthead h1 {
  color: #2e1e13;
  font-size: 40px;
}
#expert .expertdiv .experthead h1 span {
  color: #6aaf08;
}
#expert .expertdiv .experthead p {
  color: #ababab;
}
#expert .expertdiv div {
  margin: 0px;
}
#expert .expertdiv .expertdivchild {
  overflow: hidden;
  text-align: center;
}
#expert .expertdiv .expertdivchild:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}
#expert .expertdiv .expertdivchild:hover .expertimg img {
  transform: scale(1.5);
}
#expert .expertdiv .expertdivchild .expertimg {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
}
#expert .expertdiv .expertdivchild .expertimg img {
  height: 320px;
  width: 270px;
  transition: transform 0.5s;
}
#expert .expertdiv .expertdivchild h1 a {
  text-decoration: none;
  color: #2e1e13;
  font-size: 18px;
}
#expert .expertdiv .expertdivchild h1 a:hover {
  color: #6aaf08;
}
#expert .expertdiv .expertdivchild p {
  color: #ababab;
}
#expert .expertdiv .expertdivchild .exsosial {
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  background: #d5d2d0;
  text-align: center;
  padding: 5px;
  display: inline-block;
  transition: transform 1s;
}
#expert .expertdiv .expertdivchild .exsosial:hover {
  background: #6aaf08;
}
#expert .expertdiv .expertdivchild .exsosial a {
  color: white;
  text-decoration: none;
}

#project {
  margin: 0px;
  margin-top: 100px;
  background: url(../images/bg3.jpg) center center fixed;
}
#project .projectdiv {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  background: rgba(46, 30, 19, 0.9);
}
#project .projectdiv .projecthead {
  text-align: center;
  grid-column: 1/4;
}
#project .projectdiv .projecthead h1 {
  color: white;
  font-size: 40px;
}
#project .projectdiv .projecthead h1 span {
  color: #6aaf08;
}
#project .projectdiv .projecthead p {
  color: white;
}
#project .projectdiv .projectnavbar {
  text-align: center;
  grid-column: 1/4;
}
#project .projectdiv .projectnavbar ul {
  list-style: inline;
}
#project .projectdiv .projectnavbar ul li {
  display: inline-block;
  border-radius: 30px 30px;
  background: white;
  padding: 10px 20px;
  margin: 0px 10px;
}
#project .projectdiv .projectnavbar ul li:hover {
  background: #f2f1f0;
}
#project .projectdiv .projectnavbar ul li a {
  text-decoration: none;
  color: gray;
}
#project .projectdiv .p1 {
  background: url(../images/projectpic1.jpg);
  background-size: 100%;
  left: 80px;
}
#project .projectdiv .p2 {
  background: url(../images/pic2_004.jpg);
  background-size: 100%;
  left: 30px;
}
#project .projectdiv .p3 {
  background: url(../images/projectpic3.jpg);
  background-size: 100%;
  right: 21px;
}
#project .projectdiv .p4 {
  background: url(../images/projectpic4.jpg);
  background-size: 100%;
  left: 80px;
}
#project .projectdiv .p5 {
  background: url(../images/projectpic5.jpg);
  background-size: 100%;
  left: 30px;
}
#project .projectdiv .p6 {
  background: url(../images/projectpic6.jpg);
  background-size: 100%;
  right: 21px;
}
#project .projectdiv .projectimg {
  position: relative;
  margin: 0px;
  owerflow: hidden;
  height: 250px;
  width: 400px;
  transition: background 5s;
}
#project .projectdiv .projectimg:hover {
  background-size: 150%;
}
#project .projectdiv .projectimg:hover .icons .icon {
  display: block;
}
#project .projectdiv .projectimg:hover .layer {
  background: rgba(46, 30, 19, 0.5);
}
#project .projectdiv .projectimg .layer {
  height: 250px;
  width: 400px;
  transition: background 0.5s;
}
#project .projectdiv .projectimg .icons {
  top: 120px;
  left: 137px;
  background: rgba(250, 250, 250, 0.01);
  text-align: center;
  position: absolute;
  box-sizing: border-box;
}
#project .projectdiv .projectimg .icons .icon {
  float: left;
  margin: 0px;
  height: 40px;
  width: 40px;
  background: white;
  margin: 0px 10px;
  display: none;
  transition: display 0.2s;
}
#project .projectdiv .projectimg .icons .icon:hover a {
  color: #2e1e13;
}
#project .projectdiv .projectimg .icons .icon a {
  color: green;
  text-decoration: none;
  line-height: 40px;
}
#project .projectdiv div {
  text-align: center;
}

#post {
  margin: 0px;
}
#post .postdiv {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-columns-gap: 0px;
}
#post .postdiv div {
  margin: 0px;
}
#post .postdiv .posthead {
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
  grid-column: 1/4;
}
#post .postdiv .posthead h1 {
  color: #2e1e13;
  font-size: 38px;
}
#post .postdiv .posthead h1 span {
  color: #6aaf08;
}
#post .postdiv .posthead div {
  margin-top: -30px;
  margin-bottom: 30px;
}
#post .postdiv .postimg {
  left: 50px;
  overflow: hidden;
  position: relative;
  width: 370px;
}
#post .postdiv .postimg .img {
  box-sizing: border-box;
  overflow: hidden;
  width: 370px;
}
#post .postdiv .postimg .img img {
  width: 100%;
  transition: transform 1s;
}
#post .postdiv .postimg .img img:hover {
  transform: scale(1.5);
}
#post .postdiv .postimg .time {
  position: absolute;
  top: 13px;
}
#post .postdiv .postimg .time .t1 {
  margin: 0px;
  background: green;
  color: white;
}
#post .postdiv .postimg .time .t2 {
  margin: 0px;
  color: white;
  background: #2e1e13;
}
#post .postdiv .postimg h4 {
  margin: 0px;
  font-size: 18px;
}
#post .postdiv .postimg h4 a {
  text-decoration: none;
  color: #2e1e13;
  transition: color 0.2s;
}
#post .postdiv .postimg h4:hover a {
  color: #6aaf08;
}
#post .postdiv .postimg ul {
  list-style: none;
}
#post .postdiv .postimg ul li {
  display: inline-block;
}
#post .postdiv .postimg ul li svg {
  color: #2e1e13;
}
#post .postdiv .postimg ul li a {
  text-decoration: none;
  color: gray;
}
#post .postdiv .postimg p a {
  font-weight: 600;
  text-decoration: none;
  color: #6aaf08;
  transition: color 0.2s;
}
#post .postdiv .postimg p a:hover {
  color: blue;
}

body {
  font-family: 'Open Sans', sans-serif;
}
